@charset "utf-8";

/* CSS Document */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  background: pink;
  color: black;
  padding: 10px;
  text-align: center;
}

.main-layout {
  display: flex;
  padding: 20px;
}

.filters {
  width: 220px;
  background: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.filters h2 {
  margin-bottom: 15px;
  color: #ff6f61;
}

.filters label {
  display: block;
  margin-bottom: 15px;
}

.product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 cột cố định */
  gap: 20px;
  padding: 0 20px;
}


.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.price {
  color: #e53935;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 8px;
}

.buy-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #e53935;
} 